body {
  background-color: #eaebed;
}

.custom-navbar {
  background-color: #a30015 !important;
}

.article-item {
  width: 275px;
  margin: 10px;
  background-color: #a30015;
  color: #eaebed;
}

.article-img-container {
  height: 150px;
}

.article-image {
  width: 100%;
  height: 150px;
}
.article-title {
  font-size: 16px;
  font-weight: 700;
  height: 75px;
  margin-bottom: 10px;
  text-overflow: ellipsis;
  overflow: hidden;
  color: #a3bac3;
}

.source-title {
  font-size: 2px;
  font-weight: 800;
  height: 125px;
  margin-bottom: 10px;
  text-overflow: ellipsis;
  overflow: hidden;
  color: #a3bac3;
}

.source-title {
  height: fit-content !important;
}

.article-details-row {
  display: flex;
  flex-flow: row wrap;
  width: 100%;
  margin: 0;
  justify-content: space-between;
  height: fit-content;
}

.article-details-row-item {
  font-size: 12px;
  width: 50%;
  margin: auto;
  font-weight: 700;
  height: 16px;
  overflow: hidden;
}
.article-details-row-item-2 {
  font-size: 12px;
  width: 50%;
  margin: auto;
  font-weight: 700;
  text-align: end;
  height: 16px;
  overflow: hidden;
}

.article-link-row {
  display: flex;
  flex-flow: row wrap;
  width: 100%;
  margin: 0;
  justify-content: flex-end;
  align-items: baseline;
  height: min-content;
}

.article-link-row-item {
  font-size: 11px;
  font-weight: 700;
  text-decoration: none;
  color: #eaebed !important;
  border: 1px solid #eaebed;
  padding: 2px;
  border-radius: 5px;
}

.article-body {
  height: 65px;
  text-overflow: ellipsis;
  overflow: hidden;
  font-size: 14px;
}
