<!-- Start of sources -->
{% macro sources(sources_list) %}

<!-- Start of for block -->
{% for source in sources_list %}

<div class="card rounded border-0 shadow rounded article-item">
  <div class="card-body mt-3">
    <div class="article-details-row">
      <p class="article-details-row-item">{{source.country}}</p>
      <p class="article-details-row-item-2">{{source.category}}</p>
    </div>
    <h4 class="card-title article-title source-title">{{source.name}}</h4>

    <p class="card-text article-body">{{source.description}}</p>
    <div class="article-link-row">
      <a class="article-link-row-item" href="/source/{{source.id}}">
        View Articles</a
      >
    </div>
  </div>
</div>

{% endfor %}
<!-- End of for block -->

{% endmacro %}
<!-- End of sources -->
